.schedule-portlet {
	margin: 15px;
}
.schedule-portlet legend {
	 font-weight: bold;
    line-height: 100%;
    padding-bottom: 15px;
}
.time-section > .pull-left {
		 width: 80px;
		margin-right: 15px;
}
.time-section > .pull-left input{
		width: 100%;
}

.section-input {
	margin-left: 50px;
}

.top-detail-schedule .pull-left img {
    max-width: 125px;
}
.top-detail-schedule .action a {
	display: inline-block;
       margin-right: 10px;
    padding-right: 10px;
    position: relative;
}
.top-detail-schedule h4 {
	margin-top: 0;
}

.top-detail-schedule .action,.localtion {
	margin-bottom: 10px;
}
.top-detail-schedule .action a:after {
    background: #999 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    top: 6px;
    width: 1px;
}
.top-detail-schedule .action a.time:after {
	display: none;
}

.top-detail-schedule {
    margin-bottom: 20px;
}